<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to django payment gatway</h1>
    <h2>Pay Rs. 500</h2>
    <form action="{% url 'success' %}" method="post">
        {% csrf_token %}
<script src="https://checkout.stripe.com/checkout.js"    
     class="stripe-button"    
     data-key="{{ key }}"    
     data-description="First Payment Gateway"    
     data-amount="500"   
     data-locale="auto">
</script>
</form>
</body>
</html>